.portfolio-page-container {
  min-height: calc(100vh - 116px);
  position: relative;
  padding : 116px 0 84px 0;
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.portfolio-page-content {
  position: relative;
  width: 1240px;
  margin: 0 auto;
  margin-top: 44px;
  display: flex;
  flex-direction: column;
  gap: 72px;

  .section {
      display: flex;
      flex-direction: column;
      gap: 20px;
  }
}