span{
    display: block;
}
.recruit-badge-container{
    position: relative;
    width: fit-content;
    padding: 8px 12px 8px 36px;
    border-radius: 100px;
    font-size: var(--badge-font-size);
    line-height: var(--badge-line-height);
    letter-spacing: var(--badge-letter-spacing);
    font-weight: var(--badge-font-weight);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    background-color: var(--teal-20);
    color: var(--teal-100);
}

.group-icon {
    position: absolute;
    left: 12px;
    font-size: 20px;
}
.done {
    background-color: var(--gray-20);
    color: var(--gray-60);
}