.cardgrid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* 수정된 부분 */
}

.cg-16 {
    column-gap: 16px;
}

.cg-20 {
    column-gap: 20px;
}

.rg-16 {
    row-gap: 16px;
}

.rg-32 {
    row-gap: 32px;
}