.is-invalid {
  border-color: red;
}
.invalid-feedback {
  color: red;
}
.auth-center {
  display: flex;
  justify-content: center;
}
.login-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.form-div {
  /* display: flex; */
  /* justify-content: center; */
}
.form-control {
  width: 655px;
  height: 75px;
  margin-top: 15px;
  font-size: 19px;
  margin-bottom: 15px;
}
.form-btn {
  border: 0px;
  background-color: #d9d9d9;
}
.form-btn:hover {
  cursor: pointer;
}
.auth-link {
  /* width: 1000px; */
  display: flex;
  justify-content: center;
  font-size: 12px;
  gap: 300px;
  margin-top: 30px;
}
.sns-text {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 12px;
}
.sns-btn-div {
  gap: 20px;
}
.sns-btn {
  border-radius: 100%;
  border: 0px;
  height: 50px;
  width: 50px;
  background-color: #d9d9d9;
}
.sns-btn:hover {
  cursor: pointer;
}
@media (max-width: 700px) {
  .auth-link {
    flex-direction: column; /* 좌우 정렬에서 상하 정렬로 변경 */
    align-items: center; /* 상하 중앙 정렬 */
    gap: 10px; /* 요소 간 간격 조정 */
  }
}
.form-naming {
  font-size: 19px;
  margin-top: 15px;
}
.register-title {
  margin-top: 20px;
  font-size: 22.98px;
  font-weight: bold;
  margin-bottom: 15px;
}
.telecom-btn {
  border: 1px solid #d6dadf;
  font-size: 17.95px;
  width: 153px;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d6dadf;
  background-color: white;
}
.telecom-active {
  border: 1px solid blue;
  color: blue;
}
.telecom-div {
  display: flex;
  gap: 14px;
  margin-top: 10px;
}
.telecom-btn:hover {
  cursor: pointer;
}

.form-control-phone {
  width: 490px;
  height: 75px;
  margin-top: 15px;
  font-size: 19px;
}
.phone-verify-btn {
  width: 156px;
  height: 75px;
  margin-left: 5px;
  background-color: black;
  color: white;
}
.checkmark-circle-active {
  width: 37px; /* 원하는 크기 설정 */
  height: 37px; /* 원하는 크기 설정 */
  border-radius: 50%; /* 원형 모양 */
  background-color: green; /* 배경색 */
  color: white; /* 체크 표시 색상 */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px; /* 체크 표시 크기 */
}
.checkmark-circle {
  width: 37px; /* 원하는 크기 설정 */
  height: 37px; /* 원하는 크기 설정 */
  border-radius: 50%; /* 원형 모양 */
  background-color: #d9d9d9; /* 배경색 */
}
.checkmark-square-active {
  width: 25px; /* 원하는 크기 설정 */
  height: 25px; /* 원하는 크기 설정 */
  background-color: green; /* 배경색 */
  color: white; /* 체크 표시 색상 */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px; /* 체크 표시 크기 */
}
.checkmark-square {
  width: 25px; /* 원하는 크기 설정 */
  height: 25px; /* 원하는 크기 설정 */
  background-color: #d9d9d9; /* 배경색 */
}
.checkmark-square-active::after {
  content: "✔"; /* 체크 표시 */
}

.checkmark-circle-active::after {
  content: "✔"; /* 체크 표시 */
}
.agree-div {
  display: flex;
  font-size: 19px;
  margin-top: 15px;
  gap: 20px;
}
.checkmark-circle-active:hover,
.checkmark-circle:hover {
  cursor: pointer;
}

.agree-div:hover {
  cursor: pointer;
}
