.container {
  min-height: calc(100vh - 105px);
  display: flex;
  flex-direction: column;
  padding-top: 6.5rem;
  justify-content: center;
  align-items: center;
}
.is-invalid {
  border-color: #F33;
}
.invalid-feedback {
  font-size: 0.9em;
  margin: 5px 0 0 5px;
  color: #F33;
}

.auth-center {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.auth-title {
  display: flex;
  flex-direction: column;
  margin: 44px 0px 44px 0px;
  align-items: center;

}
.resigterGroup {
  display: flex; 
  gap: 10px;
  color: #666;
  font-family: Spoqa Han Sans Neo;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 19.6px */
  letter-spacing: 0.028px;
  margin-top: 20px;
}
.resigterBtn {
  color: #1A1A1A;
  font-family: Spoqa Han Sans Neo;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 19.6px */
  letter-spacing: 0.028px;
  text-decoration-line: underline;
}

.login-title {
  svg {
    width: 192px;
    height: 49px;
  }
}
.login-subtitle {
  color: #030303;
  text-align: center;
  font-family: Spoqa Han Sans Neo;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 33.6px */
  letter-spacing: 0.048px;
  margin-top: 4px;
}
.form-div {
  /* display: flex; */
  /* justify-content: center; */
}
form .login-field-title, .login-field-title-pwd {
  font-family: Spoqa Han Sans Neo;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 25.2px */
  letter-spacing: 0.036px;
}
.login-field-title-pwd {
  margin-top: 24px;
}
.form-control {
  box-sizing: border-box;
  width: 360px;
  height: 56px;
  margin-top: 8px;
  font-size: 15px;
  border: 1px solid #E6E6E6;
  padding: 0 10px;
}
.form-btn {
  box-sizing: border-box;
  display: flex;
  width: 360px;
  height: 56px;
  font-family: Spoqa Han Sans Neo;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #196AFF;
  border-radius: 16px;
  color: var(--naver-text, #FFF);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 25.2px */
  letter-spacing: 0.036px;
  margin-top: 40px;
}
.register-btn {
  display: flex;
  width: 586px;
  height: 80px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #196AFF;
  border-radius: 16px;
  color: #FFF;
  font-family: Spoqa Han Sans Neo;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}
.form-btn:hover {
  cursor: pointer;
  background-color: #669BFF;
}
.auth-link {
  display: flex;
  justify-content: space-between;
  width: 360px;
  font-family: Spoqa Han Sans Neo;
  justify-content: center;
  align-items: center;
  margin: 24px 0 0 0;
  color: #030303;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
  letter-spacing: 0.028px;
}
.auth-link > span {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.auth-link > div {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.forgot-or {
  margin: 0 5px;
}
.sns-text {
  font-size: 12px;
}
.sns-btn-div {
  display: flex;
  align-items: center;
  gap: 20px;  
}
.sns-btn-kakao, .sns-btn-naver, .sns-btn-google, .sns-btn-apple {
  border-radius: 100%;
  border: 0px;
  width: 52px;
  height: 52px;
  background-color: #d9d9d9;

  svg{
    width: 20px;
    height: 20px;
  }
}
.sns-btn-kakao {
  background-color: #FEE500;
}
.sns-btn-google {
  background-color: #EA4335;
}
.sns-btn-naver {
  background-color: #03CF5D;
}
.sns-btn-apple {
  background-color: #000;
}
.sns-btn-kakao, .sns-btn-naver, .sns-btn-google, .sns-btn-apple {
  cursor: pointer;
}
.hrLine {
  display: flex;
  gap: 16px;
  color: #B3B3B3;
  font-size: 14px;
  margin: 44px 0;

}
.hrLine hr{
  width: 252.5px;
  border:1px solid #B3B3B3;
  transform: scaleY(0.3);
  
}
@media (max-width: 700px) {
  .auth-link {
    flex-direction: column; /* 좌우 정렬에서 상하 정렬로 변경 */
    align-items: center; /* 상하 중앙 정렬 */
    gap: 10px; /* 요소 간 간격 조정 */
  }
}
.registerSelect {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  align-self: stretch;
}
.register-process {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.register-process span {
  width: 58px;
  height: 58px;
  background-color: #B3B3B3;
  text-align: center;
  color: #FFF;
  font-family: Spoqa Han Sans Neo;
  font-size: 24.325px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 34.056px */
  letter-spacing: 0.049px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-process span:active {
  background-color: #0059FF;
}
.hidden {
  display: none;
}
.register-process hr {
  border: none;
  border-bottom: 6px dotted #0059FF;
  height: 3px; 
  width: 36px;
  margin: 0 8px;

}

.register-title {
  margin-top: 20px;
  font-size: 22.98px;
  font-weight: bold;
  margin-bottom: 15px;
}
.telecom-btn {
  border: 1px solid #d6dadf;
  font-size: 17.95px;
  width: 153px;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d6dadf;
  background-color: white;
}
.telecom-active {
  border: 1px solid blue;
  color: blue;
}
.telecom-div {
  display: flex;
  gap: 14px;
  margin-top: 10px;
}
.telecom-btn:hover {
  cursor: pointer;
}

.form-control-phone {
  width: 490px;
  height: 75px;
  margin-top: 15px;
  font-size: 19px;
}
.phone-verify-btn {
  width: 156px;
  height: 75px;
  margin-left: 5px;
  background-color: black;
  color: white;
}
.checkmark-circle-active {
  width: 37px; /* 원하는 크기 설정 */
  height: 37px; /* 원하는 크기 설정 */
  background-color: #196AFF; /* 배경색 */
  color: white; /* 체크 표시 색상 */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px; /* 체크 표시 크기 */
}
.checkmark-circle {
  width: 37px; /* 원하는 크기 설정 */
  height: 37px; /* 원하는 크기 설정 */
  background-color: #d9d9d9; /* 배경색 */
}
.checkmark-square-active {         
  width: 25px; /* 원하는 크기 설정 */
  height: 25px; /* 원하는 크기 설정 */
  background-color: #196AFF; /* 배경색 */
  color: white; /* 체크 표시 색상 */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px; /* 체크 표시 크기 */
}
.checkmark-square {
  width: 25px; /* 원하는 크기 설정 */
  height: 25px; /* 원하는 크기 설정 */
  background-color: #d9d9d9; /* 배경색 */
}
.checkmark-square-active::after {
  /* content: "✔";  */
}

.checkmark-circle-active::after {
  /* content: "✔";  */
}
.agree-container {
  margin: 44px 0 28px 0;
  display: flex;
flex-direction: column;

}
.agree-div {
  display: flex;
  align-items: center;
  font-size: 19px;
  margin-top: 15px;
  gap: 20px;
}
.checkmark-circle-active:hover,
.checkmark-circle:hover {
  cursor: pointer;
}

.agree-div:hover {
  cursor: pointer;
}
.form-div-next-btn {
  margin-top: 72px;
}
.addInfo-container {
  display: inline-block;
  width: 586px;
}
.form-naming, .form-naming-nickname { 
  color: #030303;
  font-family: Spoqa Han Sans Neo;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 33.6px */
  letter-spacing: 0.048px;
  margin: 24px 0 0px  0;
}
.form-naming-nickname {
  margin: 0;
}
.form-naming-sub {
  color: #4D4D4D;
  font-family: Spoqa Han Sans Neo;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 28px */
  letter-spacing: 0.04px;
  margin-top: 8px;
}
.addform-naming, .addform-naming-nickname { 
  color: #030303;
  font-family: Spoqa Han Sans Neo;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 33.6px */
  letter-spacing: 0.048px;
  margin: 44px 0 0 0;
}
.addform-naming {
  margin-bottom: 24px;
}
.addform-naming-nickname {
  margin: 0;
}

.form-chips {
  display: flex;
  display: flex;
  width: 550px;
  align-items: center;
  align-content: center;
  gap: 12px;
  flex-wrap: wrap;
}
.form-chips Chip {
  background-color: #B3B3B3;
  color: #333;
}
.form-control-submit {
  margin-top: 44px;
}

.signup{
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 46px;

  button{
    width: 392px;
    height: 56px;
    padding: 10px;
    border-radius: 16px;
    font-family: Spoqa Han Sans Neo;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  .kakao {
    background: #FEE500;

    svg{
      width: 17px;
      height: 17px;
    }
  }

  .email {
    background: #E5EEFF;
  }
}