
.chatting {
    display: flex;
    flex-direction: column;
    width: 1240px;
    margin: auto;
    height: auto;
}
.chattingRoomBag {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 808px;
    flex-direction: column;

}


.chattingRoomText {
    color: #999;
    font-family: Spoqa Han Sans Neo;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 21px */
    letter-spacing: 0.03px;
    
}

.chatContainer {
    display: flex;
    justify-content: center;
    height: auto;
    margin-top: 6.5rem;
    width: 1240px;
    height: 850px;
    margin-bottom: 4rem;
    border-left: 1px solid #D2D2D2;
    border-right: 1px solid #D2D2D2;


}
.chattingList {
    background-color: transparent;
    width: 436px;
    height: 850px;
    border-right: 1px solid #D2D2D2;
    overflow-x: auto;
    overflow-x: hidden;
}
.chattingList::-webkit-scrollbar-button {
    display: none;
}
.chatlistHeaderTitle {
    margin-bottom: 20px;
}
.chatlistHeaderTitle h2 {
    color: #000;
    font-family: Spoqa Han Sans Neo;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 33.6px */
    letter-spacing: 0.048px;
}
.chatlistHeaderTitle svg{
    cursor: pointer;
}
.searchChatlist {
    display: flex;
    width: 320px;
    height: 40px;
    padding: 0px 16px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 40px;
    border: 1px solid #E6E6E6;
    padding-left: 30px;


  }
  .input-container {
    position: relative;
    display: inline-block;
  }
  
  .input-container svg {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
  }
  
  
.chatting::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}

.chatting::-webkit-scrollbar-thumb {
    background-color: #ccc; 
    border-radius: 10px;
}

.chatting::-webkit-scrollbar {
    width: 8px;
}

.unreadMsg {
    margin: 50px 0 20px 220px;
    color: #999;
    font-family: Spoqa Han Sans Neo;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 21px */
    letter-spacing: 0.03px;
    text-align: center;

}

.chatlistHeader {
    padding: 20px 24px;

}
.chatlistHeaderTitle {
    display: flex;
    justify-content: space-between;

}

#unreadMsgCheck {
    width: 18px;
    height: 16px;
}

.chattingRoom {
    background-color: transparent;
    width: 808px;
    height: auto;
    flex-shrink: 0;
    font-size: 2rem;
    border:none;
    display: flex;
    box-sizing: border-box; 
    padding: 24px; 
}
 
