.switch-container {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .switchPublic, .switchPrivate {
    position: absolute;
    top: 5px;
    color: #fff;
    font-family: Spoqa Han Sans Neo;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    transition: color 0.3s;
  }
  .switchPublic.active, .switchPrivate.active {
    color: #B3B3B3;

  }
  
  .switchPublic {
    left: 15px;
  }
  
  .switchPrivate {
    right: 15px; 
  }
  
  .slide-switch {
    width: 116px;
    height: 30px;
    border-radius: 40px;
    background: #E5EEFF;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .slide-switch .slider {
    position: absolute;
    transition: transform 0.3s;
    width: 58px;
    height: 30px;
    border-radius: 40px;
    background: #669BFF;
  }
  
  .slide-switch .slider.on {
    transform: translateX(56px);
  }
  
.myProfilePFon, .myProfilePFoff {
    border: none;
    background-color: transparent ;
    color: #B3B3B3;
    font-family: Spoqa Han Sans Neo;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    width: 200px;
    padding: 0 20px 20px 20px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex-shrink: 0;}

.myProfilePFon.active, .myProfilePFoff.active {
    color: #0059FF; 
    border-bottom: 2px solid #0059FF; 
  }
  