.aside {
    background-color: #fff;
    border: none;
    font-size: 2rem;
    width: 295px;
    height: 90vh;
    flex-shrink: 0;
    margin-top: -2rem;
}
.asideTitle {
    margin: 44px 50px;
    color: #1A1A1A;
    font-family: Spoqa Han Sans Neo;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 33.6px */
    letter-spacing: 0.048px;
}
.aside ul {
    list-style: none;
    padding-left: 0;
    margin: 0 30px 0 0;
}
.asideList ul li {
  color: #4D4D4D;
  font-family: Spoqa Han Sans Neo;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 22.4px */
  letter-spacing: 0.032px;
  margin: 15px 0; 
  padding: 16px 20px 16px 50px;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1; 
  transition: color 0.3s ease; 
}

.asideList ul li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #4C8BFF;
    transition: width 0.3s ease;
    z-index: -1;
  }
  
  .asideList ul li:hover {
    color: #fff;

    svg path{
      fill: white;
    }
  }
  
  .asideList ul li:hover::before {
    width: 100%;
  }

  .icon-label{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    span{
      display: flex;
      align-items: center;
      font-size: 20px;

      svg {
        width: 20px;
        height: 20px;
        fill: #4d4d4d;

        path{
          fill: #4d4d4d;
        }
      }
    }
  }