.dropdown {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4px;
  padding-left: 12px;
  cursor: pointer;
  min-width: 80px;
  box-sizing: border-box;
  height: 38px;
  position: relative;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  background: #fff;
  color: var(--blue-100);
  line-height: var(--line-height);
  font-weight: var(--bold);
  font-size: 16px;
}

.dropdown-content {
  display: flex;
  align-items: center;
  gap: 4px;
}

.dropdown-default {
  width: 46px;
}

.dropdown-arrow {
  width: 30px;
  height: 30px;
}

.option-container {
  background-color: var(--mono-white);
  z-index: 100;
  position: absolute;
  width: 100%;
  list-style: none;
  margin: 0;
  top: 100%;
  left: 0;
  border: 1px solid #d9d9d9;
}

.option {
  padding: 8px 0;
}
