.home-community-list-container{
    display: flex;
    flex-direction: column;
    gap: 20px;

    .category-selector{
        display: flex;
        gap: 12px;
    }

    .home-postcard-list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 16px;
    }
}