.mypageWrapper{
    background: #fff;    
}

.mypageAll {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1240px;
    margin: auto;
    height: auto;
    background: #F5F8FF; 
    box-sizing: border-box;
}
.mypageAll h1 {
    font-size: 2rem;
}
.mypage {
    
    display: flex;
    justify-content: center;
    height: auto;
    border-radius: 2rem;
    margin-top: 9rem;
}
.mypageContainer {
    background-color: transparent;
    width: 893px;
    height: auto;
    box-sizing: border-box;
    flex-shrink: 0;
    font-size: 2rem;
    border:none;
    border-radius: 16px;
    background: #FFF;
}
.mypageView {
    padding: 0 30px;
}
.info {
    font-size: small;
    padding: 0;
}


/*마이페이지 상세*/
.myProfileTitle {
    color: #1A1A1A;
    font-family: Spoqa Han Sans Neo;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 33.6px */
    margin-bottom: 20px;
    letter-spacing: 0.048px;
}

.myProfileinfo {
    padding: 20px;
    background-color: #fff;
    width: 875px;
    height: 185px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #FFF;
}
.myProfileInfoTitle {
    color: #1A1A1A;
    font-family: Spoqa Han Sans Neo;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 25.2px */
    letter-spacing: 0.036px;
    margin: 20px 0;
}
.myProfileInfoText {
    color: #1A1A1A;
    font-family: Spoqa Han Sans Neo;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
    letter-spacing: 0.028px;
    margin: 20px 0;

}
.myPfModifyBtn {
    width: 116px;
    height: 40px;
    border-radius: 8px;
    background: #0059FF;
    border: none;
    color: #FFF;
    font-family: Spoqa Han Sans Neo;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    float: right;
}
.mySfacpolio {
    margin-top: 2.2rem;
}
.mypagePfCount {
    display: flex;
    color: #030303;
    font-family: Spoqa Han Sans Neo;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 22.4px */
    letter-spacing: 0.032px;
    margin-bottom: 20px;
    gap: 5px;
}
.mypagePfCount p{
    color: #337AFF;
}
.portfolio-progress {
    width: 893px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/*마이페이지 탑메뉴*/
.topMenuList {
    display: flex;    
    margin: 23px 0;
    border-bottom: 3px solid #E6E6E6;

}
.topMenuList ul{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.topMenuList ul li {
    position: relative;
    color: #CCC;
    text-align: center;
    font-family: Spoqa Han Sans Neo;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 28px */
    letter-spacing: 0.04px;
    padding: 20px 0;
    cursor: pointer;
    border-bottom: 3px solid transparent;
}
.topMenuList ul li.selected {
    color: #196AFF;
    border-bottom: 3px solid #196AFF;
  }
  