.community-page-contents {
    width: 1240px;
    margin: 0 auto;
    margin-top: 72px;
    display: flex;
    flex-direction: column;
    gap: 72px;

    .section{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}