.hot-project-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .hot-project-rowcard {
    height: 610px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
