.portfolio-modal-container {
  width: 1240px;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
  background-color: var(--mono-black);
  box-sizing: border-box;
  margin: 0 !important;
  box-sizing: border-box;
  border: none;
  padding: 64px;
  display: flex;
  flex-direction: row;
  position: relative;
}

.modal > * {
  outline: none !important;
}

::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

.portfolio-modal-header {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-bottom: 16px;

  .portfolio-modal-profile-img {
    width: 52px;
    height: 52px;
    border-radius: 100px;
  }

  .portfolio-modal-header-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .first-text {
      color: var(--naver-text, #fff);
      font-family: Spoqa Han Sans Neo;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%; /* 22.4px */
      letter-spacing: 0.032px;
    }

    .second-text {
      color: var(--naver-text, #fff);
      font-family: Spoqa Han Sans Neo;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%; /* 19.6px */
      letter-spacing: 0.028px;
    }
  }
}

.portfolio-section {
  width: 1040px;
  color: white;

  img {
    width: 1040px;
    object-fit: scale-down;
  }
}

.portfolio-bottom-menu{
  padding: 72px 0;
}

.portfolio-button-group{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px ;

  button {
    cursor: pointer;
    border: none;
    border-radius: 100px;
    display: flex;
    width: 150px;
    padding: 8px 24px;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    font-family: Spoqa Han Sans Neo;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 19.6px */
    letter-spacing: 0.028px;
  }
}

.portfolio-info{
  text-align: center;
}

.portfolio-info-title{
  color: #FFF;
  text-align: center;
  font-family: Spoqa Han Sans Neo;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 28px */
  letter-spacing: 0.04px;
  margin-bottom: 8px;
}

.portfolio-info-content{
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-family: Spoqa Han Sans Neo;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 19.6px */
  letter-spacing: 0.028px;
  margin-bottom: 20px;

}

.portfolio-info-options{
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
  color: #B3B3B3;
  font-family: Spoqa Han Sans Neo;
  font-size: 13.363px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 18.708px */
  letter-spacing: 0.027px;
  margin-bottom: 72px;
}

.portfolio-sidebar {
  width: 72px;
  padding: 0 4px;
  position: sticky;
  top: 68px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  color: white;
  text-align: center;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.menu-circle {
  cursor: pointer;
  width: 52px;
  height: 52px;
  border-radius: 100px;
  background-color: #fff;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 52px;
    height: 52px;
    border-radius: 100px;
  }
}

.like {
  background-color: #AA21D4;
  color: white;
}

.comment-area {
  width: 1040px;
  padding: 72px 0;
  background-color: #fff;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-input-group {
  width: 952px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  margin-bottom: 72px;
}

.comment-field {
  width: 952px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  width: 100%;
  height: 120px;
  padding: 24px;
  padding-top: 0;
}

.comment-submit-button {
  width: 90px;
  border: none;
  background: var(--blue-100);
  color: #fff;
  padding: 12px 16px;
  border-radius: 8px;
}

.comment-header{
  box-sizing: border-box;
  padding: 0 44px;
  padding-bottom: 20px;
  width: 100%;
  text-align: start;
  color: #1A1A1A;
  font-family: Spoqa Han Sans Neo;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 28px */
  letter-spacing: 0.04px;

  .comment-cnt{
    color: #999;
    font-family: Spoqa Han Sans Neo;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 22.4px */
    letter-spacing: 0.032px;
  }
}

.commnet-menu{
  color: #808080;
  font-family: Spoqa Han Sans Neo;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
  letter-spacing: 0.028px;
}

.comment-writer {
  color: #1A1A1A;
  font-family: Spoqa Han Sans Neo;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 22.4px */
  letter-spacing: 0.032px;
}

.comment-time {
  color: #666;
  font-family: Spoqa Han Sans Neo;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
  letter-spacing: 0.028px;
}

.comment-list-group {
  box-sizing: border-box;
  width: 952px;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.comment {
  padding: 16px;

  img {
    width: 48px;
    height: 48px;
    border-radius: 100px;
  }
}
