/* 기본 속성 reset */
@import "reset.css";
/* 폰트 import */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {
  /* 폰트 적용 - 스포카 한 산스 네오 */
  font-family: 'Spoqa Han Sans Neo', 'sans-serif'!important;
}

/* CSS 변수 정의 */
:root {
  /* Core */
  --gray-5: #F3F3F3;
  --gray-10: #E6E6E6;
  --gray-20: #CCCCCC;
  --gray-30: #B3B3B3;
  --gray-40: #999999;
  --gray-50: #808080;
  --gray-60: #666666;
  --gray-70: #4D4D4D;
  --gray-80: #333333;
  --gray-90: #1A1A1A;
  --gray-100: #030303;

  --mono-white: #fff;
  --mono-black: #000;

  --blue-5: #F5F8FF;
  --blue-10: #E5EEFF;
  --blue-20: #CCDEFF;
  --blue-30: #B2CDFF;
  --blue-40: #99BDFF;
  --blue-50: #7FACFF;
  --blue-60: #669BFF;
  --blue-70: #4C8BFF;
  --blue-80: #337AFF;
  --blue-90: #196AFF;
  --blue-100: #0059FF;

  --ststem-red: #FF3333;
  --ststem-green: #42DD57;

  --background-5: #F8F8F9;
  --background-50: #A9A9A9;
  --background-100: #666666;
  --background-50-opacity: rgba(0, 0, 0, 0.3);
  --background-blue: var(--blue-5);

  --border-5: var(--gray-5);
  --border-10: var(--gray-10);
  --border-blue: var(--blue-40);

  --violet-20: #F0E3FF;
  --violet-40: #E9A3FF;
  --violet-100: #AA21D4;

  --orange-20: #FFDDC5;
  --orange-40: #FEA260;
  --orange-100: #E75504;

  --teal-20: #DBFFFE;
  --teal-40: #5ED7D7;
  --teal-100: #019898;

  --line-height: 140%;
  --font-family: 'Spoqa Han Sans Neo';
  --thin: 100;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --bold: 700;
  --letter-spacing: 0.2%;
  --paragraph-spacing: 4px;
  --chips-radius: 100%;

  /* Web */
  --h1-font-family: var(--font-family);
  --h1-font-weight: var(--bold);
  --h1-line-height: var(--line-height);
  --h1-letter-spacing: var(--letter-spacing);
  --h1-paragraph-spacing: var(--paragraph-spacing);
  --h1-font-size: 34px;

  --h2-font-family: var(--font-family);
  --h2-font-weight: var(--bold);
  --h2-font-size: 30px;
  --h2-line-height: var(--line-height);
  --h2-letter-spacing: var(--letter-spacing);
  --h2-paragraph-spacing: var(--paragraph-spacing);

  --h3-font-family: var(--font-family);
  --h3-font-weight: var(--bold);
  --h3-line-height: var(--line-height);
  --h3-letter-spacing: var(--letter-spacing);
  --h3-paragraph-spacing: var(--paragraph-spacing);
  --h3-font-size: 26px;

  --h4-font-family: var(--font-family);
  --h4-font-size: 22px;
  --h4-line-height: var(--line-height);
  --h4-letter-spacing: var(--letter-spacing);
  --h4-paragraph-spacing: var(--paragraph-spacing);
  --h4-font-weight: var(--bold);

  --h5-font-family: var(--font-family);
  --h5-font-weight: var(--bold);
  --h5-font-size: 20px;
  --h5-line-height: var(--line-height);
  --h5-letter-spacing: var(--letter-spacing);
  --h5-paragraph-spacing: var(--paragraph-spacing);

  --h6-font-family: var(--font-family);
  --h6-font-weight: var(--bold);
  --h6-font-size: 16px;
  --h6-line-height: var(--line-height);
  --h6-letter-spacing: var(--letter-spacing);
  --h6-paragraph-spacing: var(--paragraph-spacing);

  --badge-font-family: var(--font-family);
  --badge-font-weight: var(--bold);
  --badge-font-size: 12px;
  --badge-line-height: var(--line-height);
  --badge-letter-spacing: var(--letter-spacing);
  --badge-paragraph-spacing: var(--paragraph-spacing);

  --body-font-family: var(--font-family);
  --body-font-weight: var(--regular);
  --body-font-size: 14px;
  --body-line-height: var(--line-height);
  --body-letter-spacing: var(--letter-spacing);
  --body-paragraph-spacing: var(--paragraph-spacing);

  --button-font-family: var(--font-family);
  --button-font-weight: var(--bold);
  --button-font-size: 16px;
  --button-line-height: var(--line-height);
  --button-letter-spacing: var(--letter-spacing);
  --button-paragraph-spacing: var(--paragraph-spacing);

  --section-gap: 72px;
  --section-title-contents: 20px;
  --portfolio-card: 12px;
  --carousel-card: 12px;
  --project-card: 16px;
  --mentor-card: 16px;
  --chips-font-family: var(--font-family);
  --chips-font-weight: var(--bold);
  --chips-font-size: 18px;
  --chips-line-height: var(--line-height);
  --chips-letter-spacing: var(--letter-spacing);
  --chips-paragraph-spacing: var(--paragraph-spacing);

  --community-card: 16px;

  --placeholder-font-family: var(--font-family);
  --placeholder-font-weight: var(--medium);
  --placeholder-font-size: 15px;
  --placeholder-line-height: var(--line-height);
  --placeholder-letter-spacing: var(--letter-spacing);
  --placeholder-paragraph-spacing: var(--paragraph-spacing);

  --body-footer-font-family: var(--font-family);
  --body-footer-font-weight: var(--medium);
  --body-footer-font-size: 13px;
  --body-footer-line-height: var(--line-height);
  --body-footer-letter-spacing: var(--letter-spacing);
  --body-footer-paragraph-spacing: var(--paragraph-spacing);
}