.violet-color {
  color: #AA21D4;
  font-family: Spoqa Han Sans Neo;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 22.4px */
  letter-spacing: 0.032px;
}
.mentor-row-card {
  cursor: pointer;
  position: relative;
  width: 600px;
  height: 200px;
  box-sizing: border-box;
  border-radius: 16px;
  border: 1px solid #ccc;
  background: #fff;
  display: flex;
  padding: 40px 28px;
  align-items: flex-start;
  gap: 16px;

  .mentor-profileImg {
    width: 113px;
    height: 113px;
    border-radius: 100px;
  }
}

.mentorcard-badge {
  position: absolute;
  top: 0;
  left: 0;

  div {
    border-radius: 16px 0;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.member-info {
  width: 130px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .sub-info {
    gap: 4px;
  }
}
.member-badges{
  display: flex;
  flex-direction: row;
  gap: 8px;
  flex-wrap: wrap;
}
.member-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  overflow: hidden;
  color: var(--Colors-Grey-Black, #000);
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Spoqa Han Sans Neo;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 28px */
  letter-spacing: 0.04px;

  .best-icon {
    color: #FFDF38;
  }
}

.member-rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  overflow: hidden;
  color: #4D4D4D;
  text-overflow: ellipsis;
  font-family: Spoqa Han Sans Neo;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
  letter-spacing: 0.028px;

  .star-icon {
    color: var(--blue-100);
  }
}

.member-introduction {
  width: 260px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sub-info{
  display: flex;
  align-items: center;
  color: #808080;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 19.6px */
  letter-spacing: 0.028px;

  span {
    color: #666;
    font-size: 14px;
    font-style: normal;
    line-height: 140%; /* 22.4px */
    letter-spacing: 0.032px;
  }
}