.post-card-container{
    box-sizing: border-box;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px;
    border: 1px solid var(--gray-10);
    border-radius: 16px;

    .post-card-header{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .post-card-createdAt {
            font-size: 14px;
            color: var(--gray-50);
            text-align: end;
        }
    }

    .post-card-post-info{
        display: flex;
        flex-direction: column;
        gap: 4px;
        margin-bottom: 20px;

        .post-card-title{
            font-size: 16px;
            font-weight: bold;
        }

        .post-card-content{
            
            
        }

    }
    .profile {
        display: flex;
        align-items: flex-start;
        align-items: center;
        gap: 8px;
        align-self: stretch;

        .profile-img{
            width: 22px;
            height: 22px;
            background-color: var(--background-5);
            border-radius: 100px;
        }
    }

    .post-card-category{
        display: flex;
        gap: 8px;
    }
}